@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


body {
    font-family: "Delius", cursive;
    margin: 0;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    background-color: #f0f2f5;
}
*{
    text-decoration: none;
    flex: none;
}

*:focus {
    outline: none;
}

#blank{
    height: 5vh;
}



@media(min-width: 813px){

    section{
        padding: 0 3vw;
    }
    
    #content{
        display: inline-flex;
    }
    
    hr{
        background-color: #193D6F;
        border-radius: 10vh;
        border: transparent;
        width: .4vw;
        height: 7vh;
    }
    
    #titleDiscipline{
        margin-left: .5vw;
        font-weight: 300;
        margin-bottom: 0;
        color: #193D6F;
    }
    #nameDiscipline{
        margin-left: .5vw;
        margin-top: 0;
        font-weight: 700;
        color: #193D6F;
        
    }

    #topFilter{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: stretch;
    }



    #search img{
        height: 3vh;
        transform: rotate(270deg);
        filter: invert(15%) sepia(85%) saturate(1368%) hue-rotate(197deg) brightness(93%) contrast(89%);

    }

    #search{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 1vw;
        width: auto;
    }

    #formSearch{
        display: flex;
        border-radius: 5vh;
        height: 5.5vh;
        width: 25vw;
        background-color: #fcfcfc;
        box-shadow: 0 0 .8em rgb(99, 98, 98, .2);
        margin-top: 2vh;
    }

    #inputSearch{
        width: 25vw;
        background-color: transparent;
        border: none;
    }

    #content-all{
        display: flex;
        align-items: center;
    }

    #content-all button{
        margin-left: auto;
        border-radius: 5vh;
        height: 5.5vh;
        min-width: 6vw;
        background-color: #fcfcfc;
        box-shadow: 0 0 .8em rgb(99, 98, 98, .2);
        margin-top: 2vh;
        border: none;
        cursor: pointer;
        color: #193D6F;
        font-weight: bold;
    }   

    #content-all button a{
        color: #193D6F;

    }
    
    #scroll{
        overflow-x: scroll;
        width: 100%;
        height: auto;
        display: inline-flex;
    }

    #card{
        flex: none;
        background-color: #fcfcfc;
        box-shadow: 0 0 .8em rgb(99, 98, 98, .5);
        border-radius: 10px;
        padding: 5px;
        font-weight: 900;
        min-width: 10vw;
        /* max-width: 15vw; */
        height: auto;
        margin: 3vh;
        display: block;
    }
    
    #hour{
        text-align: center;
        /* font-weight: 800; */
        color: #193D6F;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Delius', cursive;
        margin-bottom: 0;
        margin-top: 0;

    }
    #date{
        text-align: center;
        /* font-weight: 800; */
        color: #193D6F;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Delius', cursive;
        margin-bottom: 0;

    }
    
    .users{
        display: flex;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
    }
    
    #user{
        height: 5vh;
        margin-left: .5vw;
        filter: invert(15%) sepia(85%) saturate(1368%) hue-rotate(197deg) brightness(93%) contrast(89%);
    }
    
    .users text{
        margin-top: auto;
        margin-left: 0;
        margin-right: auto;
        margin-bottom: auto;
        color: #193D6F;
        font-weight: 300;
        white-space: nowrap; 
        min-width: 7.2em;
        max-width: 8em; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    
    #limit{
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: .5vw;
        margin-top: 0;
    }
    
    #limit text{
        margin-top: auto;
        margin-left: .5vw;
        margin-right: .5vw;
        margin-bottom: auto;
        color: #193D6F;
        font-weight: 300;
        white-space: nowrap; 
        width: 9em; 
        overflow: hidden;
        text-overflow: ellipsis; 
     }
    
    #details, .buttonCancelarMonitoria{
        background-color: #193D6F !important;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: .8em;
        min-width: 7vw;
        max-width: 10vw;
        height: 5vh;
        margin-right: auto !important;
        margin-left: auto !important;
        cursor: pointer;
        border-radius: 5vh;
        display: flex;
        align-items: center;
    }
    
    #details:hover{
        box-shadow: 0 0 1em rgb(83, 95, 109);
    
    }

    .buttonCancelarMonitoria{
        margin-top: auto;
    }
    
    #details text, .buttonCancelarMonitoria text{
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        color: #fff;
        font-weight: 300;
    }

    .buttonCancelarMonitoria{
        margin-bottom: .5vh;
    }

    #buttons{
        display: flex;
        margin-left: auto;
    }
    .monitoriaButton{
        border-radius: 5vh;
        height: 5vh;
        min-width: 7.2vw;
        box-shadow: 0 0 .8em rgb(99, 98, 98, .5);
        margin-top: 2vh;
        border: none;
        cursor: pointer;
        font-weight: 400;
        display: block;
        padding-left: auto;
        color: #fcfcfc !important;

    }

    #addMonitoria:hover, #removeMonitoria:hover{
        background-color: #fcfcfc;
        transition: 0.5s;

    }

    #addMonitoria:hover img, #removeMonitoria:hover img{
        filter: invert(19%) sepia(9%) saturate(6903%) hue-rotate(185deg) brightness(102%) contrast(94%);
    }

    #addMonitoria:hover a, #removeMonitoria:hover a{
        color: #193D6F;
        transition: 0.5s;

    }

    h4{
        display: block;
        margin: 0;
        padding: 0;
        margin-right: auto;
    }

    .monitoriaButton img{
        height: 2.5vh;
        margin-right: .5vw;
        margin-left: auto;
    }

    .monitoriaButton a{
        margin-left: auto;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fcfcfc;
    }

    .monitoriaButton a:hover{
        color: #193D6F;
    }

    #addMonitoria{
        margin-left: auto;
        margin-right: 1vw;
        background-color: #5499C3;
        transition: 0.7s;
        color: #fcfcfc !important;

    }

    #addMonitoria h4, #removeMonitoria h4{
        color: #fcfcfc !important;

    }

    #addMonitoria:hover h4, #removeMonitoria:hover h4{
        color: #193D6F !important;

    }

    .monitoriaButton img{
        filter: invert(100%) sepia(45%) saturate(2080%) hue-rotate(180deg) brightness(114%) contrast(104%);

    }

    #removeMonitoria{
        background-color: #cf4949;
    }
    

    .modal-content{
        display: none;
        position: absolute;
        z-index: 100;
        background-color: #fcfcfc;
        border-radius: 3vh;
        min-width: 20vw;
        box-shadow: 0 2px .8em rgba(192, 192, 192, 0.6);
        margin-bottom: 100vh;
        margin-right: 50%;
        margin-left: 30%;
        text-align: start;
        padding: .2vh 1.5vh;
    }
}


@media(max-width: 812px){



    .collapsible-wrapper {
        display: flex;
        overflow: hidden;
        width: 90%;
        margin-bottom: 5vh;

    }

    .collapsible-wrapper:after {
        content: '';
        height: 9vh;
        transition: height 0.3s linear, max-height 0s 0.3s linear;
    }

    .collapsible {
        transition: margin-bottom 0.3s cubic-bezier(0, 0, 0, 1);
        margin-bottom: 0;
        max-height: 15vh;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-bottom-left-radius: 3Vh;
        border-bottom-right-radius: 3Vh;
        background-color: #f0f2f5;
    }

    .collapsible-wrapper.collapsed > .collapsible {
        margin-bottom: -2000px;
        transition: margin-bottom 0.3s cubic-bezier(1, 0, 1, 1),
                    visibility 0s 0.3s, max-height 0s 0.3s;
        visibility: hidden;
        max-height: 0;
    }
      
    .collapsible-wrapper.collapsed:after{
        border-radius: 0;
        height: 0;
        transition: height 0.3s linear;
        max-height: 50px;
    }



    section{
        padding: 0 3vw;
    }
    
    #content{
        display: inline-flex;
    }
    
    hr{
        background-color: #193D6F;
        border-radius: 10vh;
        border: transparent;
        width: .4vw;
        height: 8vh;
    }
    
    #titleDiscipline{
        margin-left: .5vw;
        font-weight: 300;
        margin-bottom: 0;
        color: #193D6F;
    }
    #nameDiscipline{
        margin-left: .5vw;
        margin-top: 0;
        font-weight: 700;
        color: #193D6F;
        width: 70vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #topFilter{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

    #filter{
        margin-left: auto;
        border-radius: 5vh;
        height: 4vh;
        width: 20vw;
        background-color: #fcfcfc;
        box-shadow: 0 0 .8em rgb(99, 98, 98, .2);
        margin-top: 2vh;
        border: none;
        cursor: pointer;
        color: #193D6F;
        font-weight: bold;
    }

    #search img{
        flex: none;
        height: 3vh;
        transform: rotate(270deg);
        filter: invert(15%) sepia(85%) saturate(1368%) hue-rotate(197deg) brightness(93%) contrast(89%);

    }

    #search{
        flex: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    #formSearch{
        flex: none;
        display: flex;
        border-radius: 5vh;
        height: 5.5vh;
        width: 60vw;
        background-color: #fcfcfc;
        box-shadow: 0 0 .8em rgb(99, 98, 98, .2);
        margin-top: 2vh;
    }

    #inputSearch{
        flex: none;
        width: 55vw;
        background-color: transparent;
        border: none;
    }
    
    #scroll{
        overflow: scroll;
        display: inline-flex;
        width: 100%;
    }

    #card{
        flex: none;
        background-color: #fcfcfc;
        box-shadow: 0 0 .8em rgb(99, 98, 98, .5);
        border-radius: 10px;
        padding: 5px;
        font-weight: 900;
        width: 42vw;
        margin: 3vh;
        display: block;
    }

    #content-all{
        display: flex;
        align-items: center;
    }

    #content-all button{
        margin-left: auto;
        border-radius: 5vh;
        height: 4vh;
        width: 20vw;
        background-color: #fcfcfc;
        box-shadow: 0 0 .8em rgb(99, 98, 98, .2);
        margin-top: 2vh;
        border: none;
        cursor: pointer;
        color: #193D6F;
        font-weight: bold;
    }
    
    #hour{
        text-align: center;
        color: #193D6F;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Delius', cursive;
    }

    #date{
        text-align: center;
        /* font-weight: 800; */
        color: #193D6F;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Delius', cursive;
        margin-bottom: 0;

    }
    
    .users{
        display: flex;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
    }
    
    #user{
        height: 5vh;
        filter: invert(15%) sepia(85%) saturate(1368%) hue-rotate(197deg) brightness(93%) contrast(89%);
    }
    
    .users text{
        margin-top: auto;
        margin-left: 0;
        margin-right: auto;
        margin-bottom: auto;
        color: #193D6F;
        font-weight: 300;
    }
    
    #limit{
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }
    
    #limit text{
        margin-top: auto;
        margin-left: .5vw;
        margin-right: auto;
        margin-bottom: auto;
        color: #193D6F;
        font-weight: 300;
        
    }
    
    #details, .buttonCancelarMonitoria{
        background-color: #193D6F;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: .8em;
        width: 80%;
        height: 5vh;
        margin-right: auto;
        margin-left: auto;
        cursor: pointer;
        border-radius: 5vh;
        display: flex;
        align-items: center;
    }
    
    #details:hover, .buttonCancelarMonitoria:hover{
        box-shadow: 0 0 1em rgb(83, 95, 109);
    
    }
    
    #details text, .buttonCancelarMonitoria text{
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        color: #fff;
        font-weight: 300;
    }

    
}


    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(25, 61, 111);
        background-color: rgba(25, 61, 111, 0.8);
        overflow-x: hidden;
        transition: 0.5s;
    }
    #menuSvg{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
        height: 2.5vh;
    }

    .overlay-content {
        position: relative;
        top: 15vh;
        width: 100%;
        text-align: left;
        margin-top: 5vh;
        margin-left: 3vw;
    }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.5em;
    color: #fafafa;
    display: block;
    transition: 0.3s;
   
  }
  
  .overlay a:hover, .overlay a:focus{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/
    color: #f1f1f1;
  }
  
  .overlay .closebtn{
    position: absolute;
    top: 20px;
    margin-left: 82%;
    margin-right: auto;
    font-size: 3em;
    text-decoration: none;
    outline: none;
  }
  
  .overlay .closebtn:focus{
    text-decoration: none;
    outline: none;
    color: transparent;
  }

  #menuButton{
      font-size: 1.5em;
      margin-left: 3vw;
      height: auto;
      cursor: pointer;
      color: #fff;
  }

  #background{
      height: 5vh;
      background-color: #193D6F;
  }

  #blank {
      height: 5vh;
  }

  #modal {
    position: fixed; /* Stay in place */
    display:none;
    z-index: 1;
    left: 10%;
    top: 10%;
  }

  #modalAvaliacao {
    position: fixed; /* Stay in place */
    display:none;
    z-index: 1;
    left: 10%;
    top: 10%;
  }
  
  #modalEditarAvaliacao {
    position: fixed; /* Stay in place */
    display:none;
    z-index: 1;
    left: 10%;
    top: 10%;
  }

  
  /* The Close Button */
  .exit {
    float: right;
  }

  .exit-2{
    font-size: .9em;
    margin-left: .5vw;
    background-color: #5499C3;
    box-shadow: 0 0 .8em rgba(192, 192, 192, 0.3);
    height: 4vh;
    border-radius: 5vh;
    border: none;
    cursor: pointer;
    min-width: 5vw;
    width: auto;
    color: #fcfcfc !important;
   
  }

  #cancelarMonitoria{
    background-color: #cf4949;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0 !important;
  }

  .row-right{
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

  }
  
