body {
    margin: 0;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    background-color: #f0f2f5;
}
*{
    text-decoration: none;
    flex: none;
}

*:focus {
    outline: none;
}

section{
    padding: 0 3vw;

}

@media(min-width: 813px){
    h1, h2{
        text-align: center;
        color: #193D6F;
    }

    h1{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    h2{
        margin-top: 0;
        font-weight: 500;           
    }
    h3{
        font-weight: 400;
        font-size: .8em;
        margin-top: 8px;
        color: #5499C3;
    }

    #card-inline{
        display: flex;
    }

    .card{
        padding: 2vh 0;
        min-height: 10vw;
        width: 15vw;
        background-color: #fcfcfc;
        display: grid;
        align-items: center;
        text-align: center;
        border-radius: 1vw;
        box-shadow: 0 0 .8em rgba(192, 192, 192, 0.1);
        margin-left: auto;
        margin-right: auto;
    }

    .card p{
        margin-bottom: 0;
        color: #5499C3;
        font-weight: 600;
    }

    .card #calendar{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        height: 5vh;
        filter: invert(55%) sepia(8%) saturate(3122%) hue-rotate(159deg) brightness(103%) contrast(71%);
    }

    #email{
        font-size: .8em;
        margin-top: 0;
        font-weight: 300;
    }

    #inscritos{
        font-size: 2em;
    }
    
    #inscritosNenhum{
        font-size: 1.2em;
    }

    form{
        margin: 0;
        padding: 0;
    }

    .button,.buttonParticipante{
        background-color: transparent;
        border-radius: 5vh;
        height: 4.5vh;
        border: none;
        width: 4.5vh;
        margin: 0;
        color: #fcfcfc !important;
        text-align: center;
        font-size: 1em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: .5vw;
    }

    .button:hover{
        transition: .5s;
        background-color: #5499C3;
        cursor: pointer;
    }

    #trashColor:hover{
        background-color: #cf4949;
        transition: .5s;

    }

    .buttonParticipante{
        width: auto;
        background: #5499C3;

    }

    h4{
        padding-left: 1vw;
        padding-right: 1vw;
        font-weight: 400;
    }


    #edit{
        transform: rotate(90deg);
    }

    #edit, #trash{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(311deg) brightness(103%) contrast(98%);
        height: 2vh;
    }
    
    #monitoriaEdit{
        margin-right: 0 !important;
    }
    #monitoriaEdit, .buttonPresenca, #labelAvatar{
        background-color: rgba(25, 61, 111);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: auto;
        height: 4.6vh;
        border-radius: 5vw;
        max-width: 15vw;
        margin-right: .5vw;
    }

    .buttonPresenca,#labelAvatar{
        border: none;
        color: #fcfcfc;
        cursor: pointer;
        font-size: 1em;
        padding: 0 1vw;
        margin-left: auto;
    }
    h5{
        color: #fcfcfc;
        font-size: .9em;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: .5vw;
        margin-right: .5vw;

    }

    #buttons{
        display: flex;
        align-items: flex-start;    
    }

    h6{
        font-size: 1em;
        background: hsla(0, 0%, 99%, 0.603);
        box-shadow: 0 0 .8em rgba(192, 192, 192, 0.1);
        width: 40vw;
        min-height: 13vh;
        font-weight: 300;
        border-radius: 1.5vh;
        padding: 1vh;
        /* width: 9em;  */
        /* word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;  */

    }

    .row{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    #column{
        width: 52vw;
        height: 38vh;
        display: grid;
        justify-items: end;

    }
    #monitorando{
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: auto;
        margin-top: 2vh;
        height: 28vh;
        filter: invert(55%) sepia(8%) saturate(3122%) hue-rotate(159deg) brightness(103%) contrast(71%);

    }
    #modalAvaliacao{
        display: none;
        position: absolute;
        z-index: 100;
        background-color: #fcfcfc;
        border-radius: 3vh;
        min-width: 20vw;
        box-shadow: 0 2px .8em rgba(192, 192, 192, 0.6);
        margin-top: 15%;
        margin-right: 50%;
        margin-left: 30%;
        text-align: start;
        padding: 1.5vh;
    }
    #modal, #modalLista, #modalAvaliacaoFeedback, #modalForum{
        display: none;
        position: fixed;
        z-index: 9999;
        background-color: #fcfcfc;
        border-radius: 3vh;
        width: 20vw;
        box-shadow: 0 2px .8em rgba(192, 192, 192, 0.6);
        padding: 1vh 1.5vw;
        margin-bottom: auto;
        margin-right: 50%;
        margin-left: 37%;
        text-align: center;
        transition: .5s;
    }

    form button{
        margin: auto;
        padding: 0
    } 

    #bttYes{
        display: block;
        margin-top: auto;
        margin-right: auto;
        text-align: center;
        color: #fcfcfc !important;
    }

    #modalButton{
        display: flex;
        margin-left: auto;
        margin-right: .3vw;
        justify-content: flex-end;
        align-items: center;
    }

    .formModal{
        background-color: #5499C3 !important;
    
    }

    .buttonModal, .formModal{
        border: none;
        min-width: 4vw !important;
        height: 2.5vh;
        background-color: #cf4949;
        border-radius: 3vw;
        align-items: center;
        justify-content: center;
        font-size: .8em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1vw;
        color: #fcfcfc;
        cursor: pointer;
    }

    #formColumn{
        display: flex;
        z-index: 9999;
        align-items: flex-end;
        width: auto;
        background-color: #5499c328;
        margin-top: 1vh;
        margin-right: 1vw;
        border-radius: 1vh;
    }

    #formFlex{
        display: flex;
    }

    #newField{
        display: flex;
        flex-direction: column;
    }

    #newField img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 2vh
    }

    #newField input{
        border-radius: 5vh;
        padding-left: 1vw;
        height: 4vh;
        border: none;
        margin: .5vh 0 ;
        min-width: 10vw;
        margin-left: .5vw;
    }

    #adicionarPresenca h1{
        margin-top: 0;
        margin-right: 1vw;
        
    }

    #adicionarPresenca{
        z-index: 2;
    }
    
    #AddNewField, .remove_field, #presenca, #fecharPresenca, #listaChamada form button, #createTopico, #fecharTopico, #fecharEdicaoTopico{
        margin-left: .5vw;
        width: 4vh;
        background-color: #5499C3;
        box-shadow: 0 0 .8em rgba(192, 192, 192, 0.3);
        height: 4vh;
        border-radius: 5vh;
    }

    #editarTopico, #excluirTopico, .buttonTopicoEdit, #saveEditForum{
        margin-left: .5vw;
        width: 4vh;
        background-color: #5499C3;
        box-shadow: 0 0 .8em rgba(192, 192, 192, 0.3);
        height: 4vh;
        border-radius: 5vh;
        border: none;
        cursor: pointer;
    }
    #saveEditForum{
        margin-left: .5vw;
        margin-right: 0;
    }

    .remove_field, #listaChamada form button, #excluirTopico{
        background-color: #cf4949;
    }

    #excluirTopico{
        display: flex;
        align-items: center;
    }


    #fecharTopico{
        margin-right: 0 !important;
    }

    #AddNewField img, .remove_field img, #presenca img, #fecharPresenca img, #listaChamada form img, #createTopico img, #fecharTopico img, #excluirTopico img, .buttonTopicoEdit img, #fecharEdicaoTopico img, #saveEditForum img {
        /* filter: invert(55%) sepia(8%) saturate(3122%) hue-rotate(159deg) brightness(103%) contrast(71%); */
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(311deg) brightness(103%) contrast(98%);

    }

    #presenca img, #fecharPresenca img, #listaChamada form img,  #createTopico img, #fecharTopico img, #excluirTopico img, .buttonTopicoEdit img, #fecharEdicaoTopico img, #saveEditForum img{
        display: block;
        margin: auto;
        height: 2vh;
    } 

    #fecharEdicaoTopico{
        margin-left: 1vw;
    }

    .buttonTopicoEdit img{
        transform: rotate(90deg);

    }

    #presenca, #fecharPresenca{
        margin-top: auto;
        margin-bottom: 1vh;
    }

    #fecharPresenca, #fecharTopico, #fecharEdicaoTopico{
        margin-right: .5vw;
        transform: rotate(45deg);
        background-color: #cf4949;
    }


    #listaChamada, #forum, #forumQuest{
        font-size: 1em;
        background: hsla(0, 0%, 99%, 0.603);
        box-shadow: 0 0 .8em rgba(192, 192, 192, 0.1);
        min-height: 15vh;
        width: 40vw;
        font-weight: 300;
        border-radius: 1.5vh;
        padding: 1vh;
        margin-bottom: 0;
        /* margin-top: 4vh; */
    }

    #forumQuest{
        margin-bottom: 1vh;
        display: none;
    }

    #listaChamada, #forumQuest{
        padding: 1.5vh;
        min-width: 20vw;
        max-width: 30vw;
        margin-left: auto;
    }

    #listaChamada .row{
        justify-content: start;
        align-items: center;

    }

    #listaChamada #avatarChamada{
        background-color: #fcfcfc;
        box-shadow: 0 0 .8em rgba(192, 192, 192, 0.3);
        border-radius: 3vh;
        min-width: 25vw;
        width: auto;
        height: 4vh;
        margin: 0.5vh 0;
        padding: 0 .5vw;
        align-items: center; 
        display: flex;
    }
    
    #avatarChamada h3{
        align-items: center;
        margin: 0;
    }

    #avatarChamada img{
        margin-right: .2vw;
    }

    #prontuario{
        margin-left: auto !important;
        margin-right: 1vw !important;
        text-transform: uppercase;
    }

    #titleProntuario{
        margin-left: auto;
        margin-right: 3vw;
    }

    #listaChamada form{
        margin-left: .5vw;
    }

    #novoTopico{
        display: inline-grid;
    }

    #inputTitleForum{
        height: 4vh;
        width: 30vw;
    }

    input{
        margin: .5vh .5vw;
        border: none;
        flex: none;
        background-color: #fcfcfc;
        box-shadow: 0 0 .8em rgb(99, 98, 98, .1);
        border-radius: 10px;
        padding: 5px;
        min-height: 5vh;
        max-width: 5vw !important;
    }

    #inputTitleForum, textarea, #inputEditForum{
        margin: .5vh 0;
        border: none;
        flex: none;
        background-color: #fcfcfc;
        box-shadow: 0 0 .8em rgb(99, 98, 98, .1);
        border-radius: 10px;
        padding: 5px;
        min-width: 30vw;
        min-height: 5vh;
        max-width: 30vw;
    }

    #inputEditForum{
        min-width: 33.5vw ;
    }

    label{
        margin-left: .3vw;
    }

    #novoTopico .row{
        margin: .3vw .5vh;
    }

    #createTopico{
        margin-left: auto;
        margin-right: 0;
        width: auto;
        color: #fcfcfc !important;
    }

    input[type="file"] {
        display: none;
    }
    #labelAvatar {
       margin-left: 0;
       height: 4vh;
    }

    #adicionarTopico{
        cursor: pointer;
    }

    #modalLista, #modalAvaliacaoFeedback, #modalForum {
        margin-right: 0%;
        margin-left: 0%;
    }

    #listForum{
        align-items: center;
        text-align: start;
        width: 33.5vw;
    }

    #listForum .row{
        display: flex;
        align-items: center;
        height: auto;
        background-color: #f0f2f5;
        border-radius: 5vh;
        padding: 0 .7vh;
        margin-bottom: .5vh;
    }

    #listForum h5{
        color: #193D6F;
        font-weight: 300;
        font-size: .5em;
        margin-bottom: .1vh;
    }

    #listForum h4, #listForum a{
        font-size: .8em;
        padding-left: .5vw;
        margin-top: 0;
        margin-bottom: .5vh;
    }

    #listForum h4{
        color: #a0a0a0c4;
        width: 29vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #listForum img{
        height: 2vh;
        filter: invert(15%) sepia(38%) saturate(3257%) hue-rotate(197deg) brightness(100%) contrast(85%);
    }

    #sendButton, #closetButton, #modalAvaliacaoBtn{
        box-shadow: 0 0 .8em rgba(192, 192, 192, 0.4);
        background-color: #5499C3;
        border-radius: 5vh;
        height: 4.5vh;
        border: none;
        width: 6vw;
        margin: 0;
        margin-top: .5vh;
        color: #fcfcfc !important;
        text-align: center;
        font-size: 1em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: .5vw;
        cursor: pointer;
    }

    #modalAvaliacaoBtn{
        margin-top: 0;
        width: auto;
    }

    input:out-of-range{
        /* border-color: ; */
        border: 2px solid #cf4949;
    }

    input[type=number]{
        overflow-x: hidden;
    }

    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #closetButton{
        background-color: #cf4949;
    }

    #formAvaliacao .row{
        justify-content: flex-end;
    }

    #inputNumber{
        width: 3vw;
        padding: 1.2vh;
    }

    #topicos .row{
        display: flex;
        /* justify-content: flex-end; */
        align-items: center;
    }

}