@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

body {
    font-family: "Delius", cursive;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/
    background-color: #f0f2f5;
  }
  
  
*:focus {
    outline: none;
}


*{
    text-decoration: none;
    flex: none;
}
/* /---------- NAV BAR ----------/ */
  

/* /---------- botão entrar----------/ */
  
.button_on {
    background-color: #ffffff;
    border: none;
    color: #5499C3;
    text-align: center;
    font-size: 1em;  
    width: 7vw;
    height: 7vh;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    border-radius: 7Vh 0 0 7Vh;
}

.button_on a {
    color: #5499C3;
    padding-top: 0;
    padding-bottom: 0;
}
  
/* /---------- botão registrar-se ----------/ */
  

#banner{
    width: 100%;
}

#cadastro {
    background-color: #BFC4CA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #193D6F;
    font-size: 1.2em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    padding: 10px 30px;
    text-align: center;
    border-radius: 0 0 5px 5px;
    border-radius: 10px;
    box-shadow: 0 0 .8em #193D6F;
    display: block;
    align-items: stretch;
}

/* /---------- caixa de login ----------/ */

@media(max-width: 812px){
    h1{
        height: auto;
        padding-top: 1vh;
    }   
    #login {
        background-color: #f1f1f1;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: bold;
        color: #193D6F;
        font-size: 1.2em;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3vh;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 .9em rgb(25, 61, 111, .7);
        display: block;
        align-items: stretch;
    }

    .button_new {
        background-color: #f1f1f1;
        border: none;
        color: #193D6F;
        text-align: center;
        font-size: 1em;
        width: 90%;
        height: 6vh;
        margin-right: 3vw;
        cursor: pointer;
        border-radius: 7vh;
        display: flex;
        align-items: center;
        margin-top: 5vh;
    }
    
    .button_new a {
        background-color: none;
        color: #193D6F !important;
        padding: 0;
        margin-left: auto;
        margin-right: auto;     
        
    }

}
  

@media(min-width: 813px){

    #login {
        background-color: #f1f1f1;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: bold;
        color: #193D6F;
        font-size: 1.2em;
        position: absolute;
        width: 25vw;
        margin-left: 72vw;
        margin-top: 3vh;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 .9em rgb(25, 61, 111, .7);
        display: block;
        align-items: stretch;
    }

    .button_new {
        background-color: #193D6F;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 1em;
        width: 10vw;
        height: 7vh;
        margin-right: 3vw;
        margin-left: auto;
        cursor: pointer;
        border-radius: 7vh;
        display: flex;
        align-items: center;
    }
    
    .button_new a {
        background-color: none;
        color: #ffffff;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        
        
    }
    
    .button_new a:hover {
        background-color: #193D6F;
        color: #ffffff;
    }
    
}
  

  
/* remove a linha dos links */
  
a {
    text-decoration: none;
    color: #193D6F;
}
  
/* /define o checkbox/ */
  
#check {
    font-size: 13px;
    text-align: center;
}
  
/* /define os links/ */
  
@media(min-width: 813px){
    .link {
        font-size: .6em;
        text-align: right;
        margin-right: 2.5vw;
    }
      
}

@media(max-width: 812px){
    .link {
        font-size: .6em;
        text-align: right;
        margin-right: 7vw;
    }
      
}

.link a {
    color: rgb(29, 162, 193);
    margin-left: 10px;
}
  
.link a:hover {
    color: #1d457e;
}
  

  
@media(min-width: 813px){
    .button_login {
        width: 125px;
        height: 35px;
        background-color: #193D6F;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        border: 2px solid;
        border: transparent;
    }

    .button_login:hover {
        box-shadow: 0 0 1em rgb(83, 95, 109);
    }

    .button_registro {
        width: 125px;
        height: 35px;
        top: 382px;
        background-color: rgb(191, 196, 202);
        color: #193D6F;
        font-weight: bold;
        border-radius: 5px;
        border: transparent;
        text-align: center;
        margin-bottom: 2vh;
        cursor: pointer;
    }
    .button_registro:hover{
        box-shadow: 0 0 1em rgb(83, 95, 109);

    }

}
  
@media(max-width: 812px){
    .button_login {
        width: 125px;
        height: 35px;
        background-color: #193D6F;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        border: 2px solid;
        border: transparent;

    }
    .button_registro {
        width: 125px;
        height: 35px;
        top: 382px;
        background-color: rgb(191, 196, 202);
        color: #193D6F;
        font-weight: bold;
        border-radius: 5px;
        border: transparent;
        text-align: center;
        margin-bottom: 2vh;
    }
}
  
.link2 {
    color: #193D6F;
    text-align: center;
}
  
@media(min-width: 813px){
    #camp {
        margin-left: auto;
        margin-right: auto;
        width: 20.5vw;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        font-size: .6em;
    }    
}

@media(max-width: 812px){
    #camp {
        margin-left: auto;
        margin-right: auto;
        width: 63vw;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        font-size: .6em;
    } 
}

.labelFont{
    font-size: 1.5em !important;
    height: 2vh !important;
    margin-bottom: 2vh !important;
}

@media(min-width: 813px){
    .inputBorder{
        margin-top: .2vh;
        margin-bottom: .2vh;
        height: 3vh;
        width: 20vw;
        border: 1px solid rgb(84, 153, 195, .4);
        border-radius: 3vh;
        padding-left: 10px;
    }
    
}

@media(max-width: 812px){
    .inputBorder{
        margin-top: .2vh;
        margin-bottom: .2vh;
        height: 3vh;
        width: 60vw;
        border: 1px solid rgb(84, 153, 195, .4);
        border-radius: 3vh;
        padding-left: 10px;
    }
    .inputBorder:focus{
        border: none;
        border-color: transparent;
        outline:none;

    }
    
}
/* /---------- informações ----------/ */

    @media(max-width: 812px){
    .info1 {
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
        word-wrap: break-word;
        text-align: justify;
    }
    .info {
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
        word-wrap: break-word;
        text-align: justify;
    }
}

@media(min-width: 813px){
    .info1 {
        margin-left: 2%;
        width: 68vw;
        word-wrap: break-word;
        text-align: justify;
    }
    .info {
        margin-left: 2%;
        width: 68vw;
        word-wrap: break-word;
        text-align: justify;
        margin-bottom: 2vh;
    }
}



h2 {
    color: #193D6F;
}
  
h3 {
    color: #5499C3;
}
  
.footer {
    text-align: center;
    background-color: #5499C3;
    font-size: 14x;
}
  
#tfooter {
    padding: 1%;
    font-size: 25PX;
    color: rgb(25, 61, 111);
}
  
#nomes {
    text-align: center;
    list-style: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(25, 61, 111);
    background-color: rgba(25, 61, 111, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 15vh;
    width: 100%;
    text-align: left;
    margin-top: 5vh;
    margin-left: 3vw;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.5em;
    color: #fafafa;
    display: block;
    transition: 0.3s;
   
  }
  
  .overlay a:hover, .overlay a:focus{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/
    color: #f1f1f1;
  }
  
  .overlay .closebtn{
    position: absolute;
    top: 20px;
    margin-left: 82%;
    margin-right: auto;
    font-size: 3em;
    text-decoration: none;
    outline: none;
  }
  
  .overlay .closebtn:focus{
    text-decoration: none;
    outline: none;
    color: transparent;
  }

  #menuButton{
      font-size: 1.5em;
      margin-left: 5vw;
      height: auto;
      cursor: pointer;
      color: #fff;
  }

  #background{
      height: 5vh;
      background-color: #193D6F;
  }

  #topFilter{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

#filter{
    margin-left: auto;
    border-radius: 5vh;
    height: 4vh;
    width: 20vw;
    background-color: #fcfcfc;
    box-shadow: 0 0 .8em rgb(99, 98, 98, .2);
    margin-top: 2vh;
    border: none;
    cursor: pointer;
    color: #193D6F;
    font-weight: bold;
}

#search img{
    flex: none;
    height: 3vh;
    transform: rotate(270deg);
    filter: invert(15%) sepia(85%) saturate(1368%) hue-rotate(197deg) brightness(93%) contrast(89%);

}

#search{
    flex: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#formSearch{
    flex: none;
    display: flex;
    border-radius: 5vh;
    height: 5.5vh;
    width: 60vw;
    background-color: #fcfcfc;
    box-shadow: 0 0 .8em rgb(99, 98, 98, .2);
    margin-top: 2vh;
}

#inputSearch{
    flex: none;
    width: 55vw;
    background-color: transparent;
    border: none;
}