@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

body {
    font-family: "Delius", cursive;
    margin: 0;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/
    background-color: #f0f2f5;
}

*:focus {
    outline: none;
}

*{
    text-decoration: none;
    flex: none;
}


/* /---------- NAV BAR ----------/ */
  


section{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 1vh;
}

#content{
    display: inline-flex;
    align-items: center;
}

hr{
    background-color: #193D6F;
    border-radius: 10vh;
    border: transparent;
    width: .4vw;
    height: 10vh;
}
#titleDiscipline{
    margin-left: .5vw;
    font-weight: 300;
    margin-bottom: 0;
    color: #193D6F;
}
#userName{
    margin-left: .5vw;
    font-weight: 700;
    color: #193D6F;
    width: 70vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.5em;
}



  #topFilter{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

#filter{
    margin-left: auto;
    border-radius: 5vh;
    height: 4vh;
    width: 20vw;
    background-color: #fcfcfc;
    box-shadow: 0 0 .8em rgb(99, 98, 98, .2);
    margin-top: 2vh;
    border: none;
    cursor: pointer;
    color: #193D6F;
    font-weight: bold;
}

#search img{
    flex: none;
    height: 3vh;
    transform: rotate(270deg);
    filter: invert(15%) sepia(85%) saturate(1368%) hue-rotate(197deg) brightness(93%) contrast(89%);

}

#search{
    flex: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#formSearch{
    flex: none;
    display: flex;
    border-radius: 5vh;
    height: 5.5vh;
    width: 60vw;
    background-color: #fcfcfc;
    box-shadow: 0 0 .8em rgb(99, 98, 98, .2);
    margin-top: 2vh;
}

#inputSearch{
    flex: none;
    width: 55vw;
    background-color: transparent;
    border: none;
}

@media(min-width: 813px){
    


    text{
        margin-left: auto;
        margin-right: .5vw;
        color:#5499C3;
        font-weight: 700;
    }


    .monitoriaButton{
        margin-left: 8vw;
        border-radius: 5vh;
        height: 5.5vh;
        width: 15vw;
        background-color: #fcfcfc;
        box-shadow: 0 0 .8em rgb(99, 98, 98, .2);
        margin-top: 2vh;
        border: none;
        cursor: pointer;
        color: #193D6F;
        font-weight: bold;
    }

    
    .monitoriaButton a{
        text-decoration: none;
        margin-left: .5vw;
        margin-right: .5vw;
        color: #193D6F;
    }

    #all-content{
        display: flex;
        align-items: stretch;
    }

    #buttons{
        display: block;
        width: 20vw;
        padding-left: auto;
    }

  
  
    #limit{
        background-color: #f0f2f5;
        width: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .users text{
        white-space: nowrap; 
        width: 9em; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}
