.info1 {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    word-wrap: break-word;
    text-align: justify;
}
.info {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    word-wrap: break-word;
    text-align: justify;
}

h2 {
    color: #193D6F;
}
  
h3 {
    color: #5499C3;
}