@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


body {
    margin: 0;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
*{
    font-family: "Delius", cursive;
    text-decoration: none;
    flex: none;
    transition: .5s;
}

*:focus {
    outline: none;
}

#banner{
    width: 100%;
}


@media(min-width: 813px){

    .topnav {
        overflow: hidden;
        background-color: #5499C3;
        display: flex;
        align-items: center;
        width: 100%;
        box-shadow: 0 0 1em  rgba(95, 95, 95, 0.3);

        
    }
     
    #center{
        margin-left: 7vw;
        margin-right: auto;

    }
    .topnav a {
        float: left;
        color: #ffffff;
        text-align: center;
        padding: 2.5vh 2vw;
        text-decoration: none;
        font-size: 1em;
        margin-left: auto;
        
    }
      
      
    .topnav a.active {
        color: #193D6F;
        font-weight: 600;
        border-bottom: 3px solid #193D6F;   
        transition: .5s;
        transition-timing-function: linear;
    }
    
    .topnav p {
        float: right;
        color: #fff;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 10px;
    }

    .button_new {
        background-color: #193D6F;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 1em;
        width: auto;
        height: 5.5vh;
        padding: 0 25px;
        margin-right: 3vw;
        margin-left: 30vw;
        cursor: pointer;
        border-radius: 7vh;
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    
    #buttonRegister{
        margin-left: auto;
    }

    .button_new a {
        background-color: none;
        color: #ffffff;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
    

    #profileContainer{
        position: absolute;
        width: auto;
        height: 5vh ;
        margin-right: 3vw ;
        margin-left: 85% ;
        margin-top: 1.3vh;
        border-radius: 7vh;
        padding: 1px;
        display: block;
        align-items: center;
        cursor: pointer;
        border: transparent;
    }

    .profile{
        border-radius: 7Vh;
        width: 11.5vw;
        height: 5vh ;
        background-color: #f0f2f5;
        margin-left: auto ;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: transparent;
        
        
    }


    .collapsible-wrapper {
        display: flex;
        overflow: hidden;
        width: 100%;
    }

    .collapsible-wrapper:after {
        content: '';
        height: 10vh;
        transition: height 0.3s linear, max-height 0s 0.3s linear;    
    }

      .collapsible {
        transition: margin-bottom 0.3s cubic-bezier(0, 0, 0, 1);
        margin-bottom: 0;
        max-height: 15vh;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-bottom-left-radius: 3Vh;
        border-bottom-right-radius: 3Vh;
        background-color: #f0f2f5;
      }
    
    .collapsible-wrapper.collapsed > .collapsible {
        margin-bottom: -2000px;
        transition: margin-bottom 0.3s cubic-bezier(1, 0, 1, 1),
                    visibility 0s 0.3s, max-height 0s 0.3s;
        visibility: hidden;
        max-height: 0;

    }

    .collapsible-wrapper.collapsed:after{
        border-radius: 0;
        height: 0;
        transition: height 0.3s linear;
        max-height: 50px;
    }
      
    .menu-item {
        align-items: center;
        display: flex !important;
        margin: 0;
        padding: .8vh 1vw !important;
        color: #5499C3 !important;
        text-align: end;
        font-size:  1em !important;
        line-height: 1.3;

    }

    form button{
        background-color: transparent;
        border: none;
        padding: 0 !important;
        margin: .8vh 1vw;
        color: #5499C3 !important;
        font-size:  1em !important;
        line-height: 1.3;
        display: flex;
        text-align: end;
        cursor: pointer;
        align-items: center;
        width: 85%;

    }
    .menu-item #Perfil {
        margin-left: auto;
    }

    #logout{
          display: block;
          margin-left: auto;
          height: 2.5vh;
          filter: invert(63%) sepia(18%) saturate(1128%) hue-rotate(159deg) brightness(85%) contrast(93%);
    }

    text{
        margin-left: auto;
        margin-right: .5vw;
        color:#5499C3;
        font-weight: 700;
    }
    .profile img{
        margin-left: .3vw;
        margin-right: auto;
    }
    
    #topFilterAll{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: stretch;
    }
    #searchAll img{
        height: 3vh;
        transform: rotate(270deg);
        filter: invert(15%) sepia(85%) saturate(1368%) hue-rotate(197deg) brightness(93%) contrast(89%);

    }

    #searchAll{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 1vw;
        width: auto;
    }

    #formSearchAll{
        display: flex;
        margin-left: 2vw;
        border-radius: 5vh;
        height: 5.5vh;
        min-width: 25vw;
        width: auto;
        background-color: #fcfcfc;
        box-shadow: 0 0 .8em rgb(99, 98, 98, .2);
        margin-top: auto;
        margin-bottom: auto;
    }

    #inputSearchAll{
        min-width: 20vw;
        width: auto;
        background-color: transparent;
        border: none;
    }
    
}


    @media(max-width: 812px){

        .button_new {
            background-color: #f1f1f1;
            border: none;
            color: #193D6F;
            text-align: center;
            font-size: 1em;
            width: 90%;
            height: 6vh;
            margin-right: 3vw;
            cursor: pointer;
            border-radius: 7vh;
            display: flex;
            align-items: center;
            margin-top: 5vh;
        }
        
        .button_new a {
            background-color: none;
            color: #193D6F !important;
            padding: 0;
            margin-left: auto;
            margin-right: auto;     
            
        }

        .profile{
            border-radius: 7Vh;
            width: 90%;
            height: 6vh ;
            background-color: #f0f2f5;
            margin-right: auto ;
            display: flex;
            align-items: center;
            cursor: pointer;
            border: transparent;
        }
        .profile img{
            margin-left: .5vw;
        }
        #arrow{
            margin-left: auto;
            margin-right: 3vw;
            filter: invert(63%) sepia(18%) saturate(1128%) hue-rotate(159deg) brightness(85%) contrast(93%);
            height: 40%;
            transform: rotate(90deg);
        }

        #arrow:after{
            transition: transform .3s linear;
            transform: rotate(0deg);

        }

        .profile text{
            color:#5499C3;
            font-weight: 700;
            margin-right: auto;
        }

        .collapsible-wrapper {
            display: flex;
            overflow: hidden;
            width: 90%;
            margin-bottom: 5vh;

        }

        .collapsible-wrapper:after {
            content: '';
            height: 9vh;
            transition: height 0.3s linear, max-height 0s 0.3s linear;
        }

        .collapsible {
            transition: margin-bottom 0.3s cubic-bezier(0, 0, 0, 1);
            margin-bottom: 0;
            max-height: 15vh;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            border-bottom-left-radius: 3Vh;
            border-bottom-right-radius: 3Vh;
            background-color: #f0f2f5;
        }

        .collapsible-wrapper.collapsed > .collapsible {
            margin-bottom: -2000px;
            transition: margin-bottom 0.3s cubic-bezier(1, 0, 1, 1),
                        visibility 0s 0.3s, max-height 0s 0.3s;
            visibility: hidden;
            max-height: 0;
        }
        
        .collapsible-wrapper.collapsed:after{
            border-radius: 0;
            height: 0;
            transition: height 0.3s linear;
            max-height: 50px;
        }
        
        .menu-item {
            align-items: center;
            display: flex !important;
            margin: 0;
            padding: .8vh 3.5vw !important;
            color: #5499C3 !important;
            font-size: 1em !important;
            text-align: end;
            line-height: 1.3;
        }

        .menu-item #Perfil{
            margin-left: auto;
        }

        #logout{
            margin-left: auto;
            height: 2.5vh;
            filter: invert(63%) sepia(18%) saturate(1128%) hue-rotate(159deg) brightness(85%) contrast(93%);
        }
        
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(25, 61, 111);
        background-color: rgba(25, 61, 111, 0.8);
        overflow-x: hidden;
        transition: 0.5s;
    }

    #menuSvg{
        margin-top: 5px;
        margin-bottom: 5px;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
        height: 2.5vh;
    }

    .overlay-content {
        position: relative;
        top: 15vh;
        width: 100%;
        text-align: left;
        margin-top: 5vh;
        margin-left: 3vw;
    }
  
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 1.5em;
        color: #fafafa;
        display: block;
        transition: 0.3s;
    
    }
  
    .overlay a:hover, .overlay a:focus{
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/
        color: #f1f1f1;
    }
  
    .overlay .closebtn{
        position: absolute;
        top: 20px;
        margin-left: 82%;
        margin-right: auto;
        font-size: 3em;
        text-decoration: none;
        outline: none;
    }
  
    .overlay .closebtn:focus{
        text-decoration: none;
        outline: none;
        color: transparent;
    }

    #menuButton{
        font-size: 1.5em;
        margin-left: 3vw;
        height: auto;
        cursor: pointer;
        color: #fff;
    }

    #background{
        height: 6vh;
        display: block;
        align-items: center;
        background-color: #193D6F;
    }

  


